<div class="mainform" style="height:100vh;" [style]="config.style">
	<app-hourglass style="margin-top:5vh" [message]="message"></app-hourglass>

	<mat-icon *ngIf="message!=''" style="cursor: pointer"
	          title="Effacer l'adresse pré-enregistrée"
	          (click)="clear_cookie()">delete</mat-icon>


	<div *ngIf="final_message=='' && config">

    <br>
		<div class="mat-headline-5 color-primary" style="margin:5%;"
         *ngIf="config && config.message">
      {{config.messages.intro}}
    </div>


<!--    token_gate-->
		<div style="width:80%;max-width: 450px;display: inline-block;margin-top:-10px;"
		     *ngIf="config.service=='token_gate'">
			Pour continuer vous devez régler {{config.price}} {{config.merchant.wallet.unity}}
      sur le réseau {{network_name[config.merchant.wallet.network]}}
      <br><br>

      <button mat-raised-button color="primary" (click)="ask_paid()" style="margin-top: 100px;height: 60px;width: 120px;">
        <div class="mat-headline-6" style="margin-bottom: 0;">Payer</div>
      </button>
			<br><br>

      <a *ngIf="config.bank && config?.bank.length>0"
              class="mat-body-2" style="margin: 100px;"
			        [href]="this.config!.bank">
                En savoir plus ou acqérir des {{config.merchant.wallet.unity}}
			        </a>
		</div>
		<br>



<!--    Airdrop -->
		<div style="width:80%;max-width: 450px;display: inline-block;" *ngIf="config.service=='airdrop'">
			<div class="mat-headline-5" style="margin:10%;">{{config.messages.intro}}</div>

      <br>
      <div *ngIf="config.airdrop.token.name">Authentifiez vous, pour recevoir {{config.airdrop.amount}} {{config.airdrop.token.name}}<br></div>
      <div *ngIf="config.airdrop.collection">
        Authentifiez vous, pour recevoir {{config.airdrop.amount}} NFT de la collection {{config.airdrop.collection.name}}
        <br><br>
      </div>

			<app-authent [connexion]="config.connexion"
                   [network]="config.network"
			             (authent)="airdrop_authent($event)">
			</app-authent>

			<br><br>
      Vous pouvez également continuer vers {{url_to_redirect}} sans récompense<br>
      <br>
			<button mat-raised-button color="primary" (click)="redirect()">Continuez</button>
		</div>


<!--    nft_gate-->
		<div style="width:90%;max-width: 450px;display: inline-block;" *ngIf="config.service=='nft_gate'">
			Pour continuer vous devez posséder un NFT de la collection
			<span *ngIf="config.store?.length>0"><a [href]="config.store">{{config.collection.name}}</a></span>
			<span *ngIf="!config.store || config.store.length==0">{{config.collection.name}}</span>
			<span *ngIf="config.price>0 && config.merchant"> puis régler {{config.price}} {{config.merchant.wallet.unity}}</span>
			<br><br>
			<div style="margin: 5%;width:90%;">
				<app-autovalidator
						[validator_name]="validator_id"
						[collections]="[config.collection]"
						[connexion]="config.connexion"
						(cancel)="close_form()"
						[network]="config.network"
						[showCollections]="false"
						title="Authentification requise"
						(fail)="fail($event)"
						(validate)="authent($event)"></app-autovalidator>
			</div>
		</div>


    <!--  poh : proof of humanity -->
    <div style="max-width: 450px;display: inline-block;" *ngIf="config.service=='poh'">
      <br>
      <div style="margin: 5%;width:90%;">
        <re-captcha (resolved)="redirect()"
                    (errored)="onError($event)" errorMode="handled"
                    [siteKey]="this.sitekey">
        </re-captcha>
      </div>
    </div>


<!--Authentification-->
    <div style="width:90%;max-width: 450px;display: inline-block;"
         *ngIf="config.service=='authent'">
			<div style="margin: 5%;width:90%;">
				<app-authent [connexion]="config.connexion"
                     [directShowQRCode]="false"
                     title="Pour continuer vous devez vous authentifier"
                     [network]="config.network"
                     (authent)="authent($event)">
        </app-authent>
			</div>
		</div>



	</div>
	<br><br>

	<div class="mat-headline-5" *ngIf="final_message!=''">
		{{final_message}}<br><br>

		<div *ngIf="config.collection">
			<button mat-raised-button *ngIf="config.store!=''" (click)="open_buy()">
				En Acquérir
			</button>

			<button mat-raised-button (click)="open_collection()">
				Voir la collection
			</button>

			<button mat-raised-button (click)="close_form()">
				Fermer
			</button>
		</div>

	</div>

  <br>
	<button color="primary" mat-raised-button
          (click)="redirect()" *ngIf="url_to_redirect.length>0 && config.service=='airdrop'">
		Continuer
	</button>

</div>
