<div class="mainform background-form" style="height:100vh;" [style]="config.style">
	<app-hourglass style="margin-top:10vh" [message]="message"></app-hourglass>

	<mat-icon *ngIf="message!=''" style="cursor: pointer"
	          title="Effacer l'adresse pré-enregistrée"
	          (click)="clear_cookie()">delete</mat-icon>

	<div *ngIf="final_message==''">
		<br>
		<div class="mat-headline-4" style="margin:10%;">{{config.messages.intro}}</div>
		<br>
		<div style="width:80%;max-width: 450px;display: inline-block;"
		     *ngIf="config!.price>0 && url.length==0 && !config.collection">
			Pour continuer vous devez payer {{config.price}} {{config.merchant.wallet.unity}}<br><br>
			<button mat-raised-button (click)="ask_paid()">Payer </button>
			<button *ngIf="config?.bank && config?.bank.length>0"
			        mat-raised-button
			        (click)="open_bank()">Acquerir des {{config.merchant.wallet.unity}} </button>
		</div>
		<br>

		<div style="width:80%;max-width: 450px;display: inline-block;" *ngIf="config && config.airdrop && message=='' && address==''">

			<div class="mat-headline-5" style="margin:10%;">{{config.messages.intro_message}}</div>

			Authentifiez vous, pour recevoir {{config.airdrop.amount}} {{config.airdrop.token.name}}<br>
			<app-authent [connexion]="config.connexion"
                   [network]="config.network"
			             (authent)="airdrop_authent($event)">
			</app-authent>
			<br>
			<button mat-raised-button color="primary" (click)="redirect()">Continuez sans récompense</button>
		</div>

		<div style="width:80%;max-width: 450px;display: inline-block;" *ngIf="config && config.collection && url.length==0">
			Pour continuer vous devez posséder un NFT de la collection
			<span *ngIf="config.store?.length>0"><a [href]="config.store">{{config.collection.name}}</a></span>
			<span *ngIf="!config.store || config.store.length==0">{{config.collection.name}}</span>
			<span *ngIf="config.price>0"> puis régler {{config.price}} {{config.merchant.wallet.unity}}</span>
			<br><br>
			<div style="margin: 10%" *ngIf="config.collection">
				<app-autovalidator
						[validator_name]="validator_id"
						[collections]="[config.collection.id]"
						[connexion]="config.connexion"
						(cancel)="close_form()"
						[network]="config.network"
						[showCollections]="false"
						style="margin-top: 5%;"
						title=""
						(fail)="fail($event)"
						(validate)="authent($event)"></app-autovalidator>
			</div>

		</div>

	</div>
	<br><br>

	<div class="mat-headline-5" *ngIf="final_message!=''">
		{{final_message}}<br><br>

		<div *ngIf="config.collection">
			<button mat-raised-button *ngIf="config.store!=''" (click)="open_buy()">
				En Acquérir
			</button>

			<button mat-raised-button (click)="open_collection()">
				Voir la collection
			</button>

			<button mat-raised-button (click)="close_form()">
				Fermer
			</button>
		</div>

	</div>

	<button color="primary" mat-raised-button (click)="redirect()" *ngIf="url.length>0 && !config.airdrop">
		Continuer
	</button>

</div>
