<app-splash
  [appname]="appname"
  [duration]="intro"
  [image]="visual"
  [description]="claim"></app-splash>


<!--tutoriel-->
<app-tuto title="{{appname}} est un péage pour vos contenus ou votre site web"
          background="./assets/peage.jpg"
          [duration]="40" *ngIf="slide==1" (close)="slide=slide+1"></app-tuto>

<app-tuto title="Vous designez le contenu, choisissez une crypto et indiquer le wallet ou recevoir les paiements.<br>C'est tout !"
          [duration]="40" background="./assets/coins.webp"
          *ngIf="slide==2" (close)="slide=slide+1"></app-tuto>

<app-tuto title="Pour accéder, l'utilisateur s'authentifie puis procéde au paiement"
          background="./assets/scan.webp" align="left"
          [duration]="40"
          *ngIf="slide==3" (close)="slide=slide+1"></app-tuto>


<div class="background-form" [style.background-image]="'url('+background+')'" *ngIf="slide>3">
  <div class="popup-form background-component mat-elevation-z18"
       style="min-height: 100vh;margin:0;padding: 0;"
       [style.margin]="border" [style.width]="size" >
    <mat-icon style="color:lightgray;display: block;position: absolute;right:35px;top:10px;opacity: 0.5;cursor: pointer;z-index: 10;"
              title="A propos"
              (click)="open_about()">
      help
    </mat-icon>

    <mat-icon style="color:lightgray;display: block;position: absolute;right:10px;top:10px;opacity: 0.5;cursor: pointer;z-index: 10;"
              title="Passer en mode avancé pour accèder à des options supplémentaire"
              (click)="switch_mode()">
      person_add
    </mat-icon>

    <div class="titleform"
         [title]="appname+' '+version" style="cursor: pointer;margin:15px;"
         (click)="open_about()">
      {{title}}
    </div>

    <app-hourglass [message]="message"></app-hourglass>

    <div style="max-width: 350px;display: inline-block;" *ngIf="show_login">
      <app-authent [connexion]="connexion"
                   [network]="network.value"
                   (cancel)="show_login=false"
                   (authent)="authent($event)">
      </app-authent>

      <button mat-raised-button (click)="show_login=false">Annuler</button>
    </div>


    <div *ngIf="url=='' && !show_login">

      <mat-accordion [multi]="false">
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>Détail du contenu</mat-expansion-panel-header>
          <div class="expansion-content-left" style="width: 100%;">
            <p style="width: 70%;">
              Indiquer le lien ou le fichier à réserver aux détenteurs d'un NFT ou facturer par crypto
            </p>
            <app-input [label]="'Adresse du contenu' | translate" autofocus
                       fontname="mat-subheading-1"
                       [value]="redirect" (valueChange)="redirect=$event;local_save();"
                       style="width: 82%;"
                       (validate)="showAccessRequiredSection=true"
                       help="Lien internet vers une page, un fichier, une vidéo"></app-input>


            <!--					<button mat-icon-button title="Récupérer le contenu du presse papier"-->
            <!--					        (click)="paste_url()">-->
            <!--						<mat-icon>contentt_paste</mat-icon>-->
            <!--					</button>-->

            <app-upload-file (uploaded)="upload_file($event)"
                             title="Charger un fichier"
                             [maxsize]="10000000"
                             [zone]="true" style="margin-left: 2%;display: inline-flex;"
                             icon="file_upload"></app-upload-file>


            <app-input [label]="'Délivrer un message' | translate"
                       style="width: 90%" *ngIf="user.advance_mode"
                       [value]="messages.success" (valueChange)="messages.success=$event"
                       value_type="memo" [rows]="2" [cols]="40"
                       help="Message à afficher"></app-input>



          </div>
        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="is_valide_URL(redirect)" [expanded]="show_access_condition">
          <mat-expansion-panel-header>{{"Conditions d'accès" | translate}}</mat-expansion-panel-header>

          <div class="expansion-content-left" style="justify-content:space-between;margin-top: -25px;">
            <div style="width: 45%;margin-left:-10px;text-align: left;">
              <mat-slide-toggle [(ngModel)]="required.nft" (click)="show_content=false">Posséder un NFT</mat-slide-toggle>
              <br><br>
              <mat-slide-toggle [(ngModel)]="required.payment"  (click)="show_content=false">Payer en crypto</mat-slide-toggle>
            </div>

            <app-input label="Blockchain / Réseau" value_type="list"
                       [value]="network" (valueChange)="network=$event"
                       [style.opacity]="required.nft || required.payment ? 1 : 0.2"
                       width="160px"
                       [options]="networks" style="display: inline-block;margin-left: 10px;"
                       help="saisissez votre url de rediretion"></app-input>

          </div>

          <div style="display: inline-block;" *ngIf="required.payment || required.nft">
            <!--          <button mat-raised-button (click)="show_login=true"-->
            <!--                  title="Se connecter à son wallet"-->
            <!--                  *ngIf="!show_login && !user.isConnected()">-->
            <!--            Connexion-->
            <!--          </button>-->

            <button mat-raised-button (click)="user.logout();show_login=false;"
                    title="Se déconnecter"
                    *ngIf="user.isConnected()">
              Déconnexion
            </button>
          </div>

          <br>
          <mat-tab-group animationDuration="1000ms" style="margin-left: -10px;min-height:200px;">
            <mat-tab label="NFT" *ngIf="required.nft" style="margin-left: -10px;">
              <div style="margin-top: 10px;width:100%;">
                <app-collection-selector [network]="network.value"
                                         [owner]="address"
                                         [limit]="50"
                                         [query]="query_collection"
                                         [showSearchWithoutOwner]="true"
                                         w_image="150px"
                                         [min_supply]="5"
                                         title="Sélectionner une collection (toutes non vides)"
                                         (selected)="select_collection($event)">
                </app-collection-selector>


                <div *ngIf="collection">
                  <p>
                    <br>
                    Le visiteur doit posséder au moins {{min_required}} NFT de la collection {{collection.name}}<br><br>
                    Attention aux contre-façons, ne pas se baser uniquement sur le nom de la collection mais également sur son identifiant
                    <strong>{{collection.id}}</strong>
                  </p>

                  <div class="expansion-content" >

                    <app-input value_type="number" [value]="min_required" (valueChange)="min_required=$event"
                               width="120px"
                               help="Mininum de NFT requis"
                               label="Quantité requise"></app-input>

                    <button mat-raised-button
                            *ngIf="!show_nft_store"
                            title="Ajouter un lien présenter au contrôle pour acheter le NFT manquant"
                            (click)="show_nft_store=true">
                      Ajouter un store NFT
                    </button>


                    <app-input [label]="'Site web pour aquérir un NFT' | translate"
                               style="width: 200px;"
                               *ngIf="show_nft_store"
                               [value]="store" (valueChange)="store=$event"
                               help="URL de la boutique"></app-input>

                    <app-input [label]="'Marketplace' | translate"
                               style="width: 100px;" value_field="value"
                               *ngIf="show_nft_store"
                               [options]="marketplaces" (valueChange)="update_marketplace($event)"
                               help="URL de la boutique"></app-input>

                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Paiement" *ngIf="required.payment" >
              <div  class="expansion-content" style="margin-top: 10px;margin-left: -5px;width:100%;">
                <div *ngIf="show_scanner">
                  <app-scanner (flash)="scan_wallet($event)"
                               (cancel)="show_scanner=false"
                               size="200px"></app-scanner>

                </div>

                <app-input label="Wallet de réception du paiement" style="width: 100%;"
                           [value]="address" (valueChange)="address=$event;local_save();"
                           (cancel)="on_cancel()"
                           [force_preview]="true" (preview)="open_wallet()"
                           help="Adresse du wallet"></app-input>


                <br>
                <app-tuto label="Vous pouvez utiliser un wallet de test, scanner l'adresse d'un wallet, vous connectez à votre wallet et ou en créer un pour l'opération"></app-tuto>

                <div class="expansion-content-left" style="justify-content:center;width: 100%;" *ngIf="address==''">
                  <button mat-icon-button
                          title="Les wallets de test"
                          *ngIf="network.value=='elrond-devnet'"
                          (click)="show_test_wallet=!show_test_wallet">
                    <mat-icon>build</mat-icon>
                  </button>


                  <button mat-icon-button
                          title="Scanner un wallet"
                          *ngIf="!show_test_wallet"
                          (click)="show_scanner=!show_scanner">
                    <mat-icon>qr_code_scanner</mat-icon></button>


                  <button mat-icon-button
                          (click)="show_login=true" *ngIf="!show_test_wallet"
                          title="Recevoir dans votre wallet">
                    <mat-icon>login</mat-icon>
                  </button>

                  <button mat-icon-button *ngIf="!show_test_wallet"
                          title="Créer un wallet pour recevoir les paiements"
                          (click)="create_account()">
                    <mat-icon>add_circle</mat-icon>
                  </button>


                  <app-selkey
                    *ngIf="show_test_wallet"
                    style="display:inline-flex;width:250px;"
                    [can_see_explorer]="false"
                    [with_balance]="false"
                    [default_index]="-1"
                    [can_see_nfluent_wallet]="false"
                    filter="bob,alice,dudule,carol,franck,eve,dan"
                    label="wallets test"
                    (onChange)="set_public_wallet($event)"
                    [network]="network.value"></app-selkey>


                </div>


                <div class="expansion-content-left" style="align-items: flex-start;" *ngIf="address!=''">
                  <br>
<!--                  <app-input label="Voir uniquement les monnaies de l'adresse de paiement"-->
<!--                             value_type="boolean"-->
<!--                             [value]="filter_by_wallet"-->
<!--                             style="text-align:left;margin-top:-5px;margin-left: 10px;margin-bottom: 5px;"-->
<!--                             (valueChange)="token_filter_by_account($event)">-->
<!--                  </app-input>-->
                  <br>
                  <app-token-selector
                                      style="width: 100%;margin: 5px;display:flex;"
                                      label_for_owner_filter="Monnaies déjà connues du wallet"
                                      [owner]="address"
                                      [canChangeFilter]="true"
                                      (unselect)="token=null"
                                      [value]="token"
                                      [network]="network.value" size="30px"
                                      (valueChange)="update_token($event)"></app-token-selector>


                  <!--								<button mat-icon-button-->
                  <!--								        title="Chercher une monnaie"-->
                  <!--								        (click)="open_search_esdt()"><mat-icon>explorer</mat-icon></button>-->
                </div>


                <div *ngIf="address!='' && token" style="width: 100%;margin-top: 15px">
                  <app-input label="Prix de votre contenu" value_type="number"
                             style="width:100%;max-width: 350px;"
                             [unity]="token.name"
                             [value]="price" (valueChange)="price=$event"
                             help="Le visiteur doit également disposé de quelques fraction d'eGld pour les frais de services"></app-input>


                  <!--                <div style="width: 25%;text-align:center;margin-top:-15px;display: inline-block">Monnaie:-->
                  <!--                  <div class="color-primary mat-subheading-1">{{token.name}}</div>-->
                  <!--                </div>-->
                  <!--                <div style="width: 70px;margin-top:-10px;display: inline-block" *ngIf="!token" class="color-primary">Token non valide</div>-->

                  <br>
                  <app-input [label]="'Lien d\'information ou d\'achat pour la monnaie \''+token.name+'\''"
                             style="width:100%;max-width: 350px;"
                             [value]="bank" (valueChange)="bank=$event"
                             help="Il peut être interessant de préciser ou le visiteur peut acquérir la monnaie demandée"></app-input>

                </div>

              </div>

            </mat-tab>
          </mat-tab-group>


        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="user.advance_mode" style="text-align: left;">
          <mat-expansion-panel-header>Méthode d'authentification</mat-expansion-panel-header>
          Authentification possible via:<br><br>
          <div *ngIf="network.value.indexOf('elrond')>-1" style="width: 100%;text-align: left;">
            <mat-slide-toggle [(ngModel)]="connexion.wallet_connect">Wallet Connect</mat-slide-toggle><br><br>
            <mat-slide-toggle [(ngModel)]="connexion.extension_wallet">Defi Wallet Extension</mat-slide-toggle><br><br>
            <mat-slide-toggle [(ngModel)]="connexion.nfluent_wallet_connect" title="Wallet dédié NFluent">Nfluent Wallet</mat-slide-toggle><br><br>
            <mat-slide-toggle [(ngModel)]="connexion.email" title="Email">Email</mat-slide-toggle><br>
          </div>

        </mat-expansion-panel>
        <mat-expansion-panel *ngIf="(required.payment || required.nft) && is_valide_URL(redirect)">
          <mat-expansion-panel-header>Personnalisation des messages</mat-expansion-panel-header>
          <app-tuto
            label="L'écran d'authentification ou paiement peut être personnaliser "></app-tuto>
          <br>

          <app-input label="Message de promotion / mise en avant du contenu" style="margin-top: 5px;width:100%;"
                     *ngIf="is_valide_URL(redirect)"
                     [help]="'Message affiché à l\'ouverture du lien court créé par '+this.appname"
                     [value]="messages.intro" (valueChange)="messages.intro=$event"
          ></app-input>
          <br>

          <app-input label="Message en cas d'échec" style="margin-top: 30px;"
                     [value]="messages.fail" (valueChange)="messages.fail=$event"
                     help="Message affiché lorsque le visiteur n'a pas le NFT requis ou le solde de la cypto de paiement"></app-input>
          <br>

          <app-input label="Message en cas de succes" style="margin-top: 30px;"
                     [value]="messages.success" (valueChange)="messages.success=$event"
                     help="Message affiché avant la redirection vers le contenu acheté"></app-input><br>

          <div class="expansion-content-left" style="margin-top: -20px;">
            <app-input label="Image de fond de l'écran d'acceuil" style="width:75%;margin-right: 10px;"
                       [value]="background_image" (valueChange)="background_image=$event"
                       help="Cette image sera affiché comme fond d'écran"></app-input>

            <button mat-raised-button (click)="find_images()">Banques d'images</button>

          </div>

          <br>

          <app-input label="Style de la fenêtre" *ngIf="user.advance_mode" style="margin-top: 30px;"
                     [value]="dialog_style" (valueChange)="dialog_style=$event"
                     help=""></app-input>

        </mat-expansion-panel>
      </mat-accordion>

      <br>

      <button mat-raised-button
              style="width: 150px"
              [disabled]="!is_valide_URL(redirect) || (!token && !collection)"
              title="Créer un service de raccourcissement"
              (click)="create_link(true)">Créer le service</button>

      <button mat-raised-button color="primary"
              style="width: 150px"
              [disabled]="!is_valide_URL(redirect) || (!token && !collection)"
              title="Fabrication du lien payant / nécessitant le NFT"
              (click)="create_link(false)">Fabriquer le lien</button>



    </div>

    <div *ngIf="url!=''">
      <br>
      {{desc}} en utilisant le lien :
      <br><br>
      <div class="color-primary mat-subheading-1">{{url}}</div>
      <br>

      <img [src]="url_qrcode" style="width: 80%;max-width: 250px">
      <br><br><br>

      <button mat-raised-button color="primary" (click)="share_link()">Partager</button>
      <button mat-raised-button (click)="reset()">Nouveau</button>
      <button mat-raised-button (click)="open_link()">Tester</button>

    </div>


  </div>


</div>
