<app-splash
		[appname]="appname"
		[duration]="2000"
		[image]="visual"
		[description]="claim"></app-splash>


<div class="background-form" [style.background-image]="'url('+background+')'">
	<div class="popup-form background-component mat-elevation-z18" style="min-height: 96vh;margin:0;padding: 0;" [style.margin]="border" [style.width]="size" >
		<mat-icon style="color:lightgray;display: block;position: absolute;right:10px;top:5px;opacity: 0.5;cursor: pointer;z-index: 10;"
		          title="Passer en mode avancé pour accèder à des options supplémentaire"
		          (click)="switch_mode()">
			person_add
		</mat-icon>

		<div class="titleform" style="cursor: pointer;margin:15px;" (click)="open_about()">{{appname}}</div>

		<app-hourglass [message]="message"></app-hourglass>

		<div style="max-width: 350px;display: inline-block;" *ngIf="show_login">
			<app-authent [showNfluentWalletConnect]="true"
			             (authent)="authent($event)"
			             [showExtensionWallet]="true"
			             [showWalletConnect]="true">
			</app-authent>

			<button mat-raised-button (click)="show_login=false">Annuler</button>
		</div>


		<div *ngIf="url=='' && !show_login">

			<div class="expansion-content-left">
				<app-input [label]="'Adresse du contenu' | translate" autofocus
				           fontname="mat-subheading-1"
				           [value]="redirect" (valueChange)="redirect=$event;local_save();"
				           style="width: 70%;"
				           (validate)="showAccessRequiredSection=true"
				           help="Lien internet vers une page, un fichier, une vidéo"></app-input>

				<div style="margin-top:-10px;margin-left: 1%;">
<!--					<button mat-icon-button title="Récupérer le contenu du presse papier"-->
<!--					        (click)="paste_url()">-->
<!--						<mat-icon>content_paste</mat-icon>-->
<!--					</button>-->

					<app-upload-file (uploaded)="upload_file($event)"
					                 [title]="'Charger un fichier'"
					                 [maxsize]="10000000"
					                 [zone]="true" style="display: inline-block;"
					                 icon="file_upload"></app-upload-file>
				</div>

			</div>

			<app-input [label]="'Délivrer un message' | translate"
			           style="width: 70%"
			           [value]="messages.success" (valueChange)="messages.success=$event"
			           value_type="memo" [rows]="2" [cols]="40" *ngIf="user.advance_mode"
			           help="Message à afficher"></app-input>

			<mat-expansion-panel [expanded]="showAccessRequiredSection" *ngIf="redirect && redirect.length>3">
				<mat-expansion-panel-header>{{"Restrictions d'accès" | translate}}</mat-expansion-panel-header>

				<div class="expansion-content-left">
					<br>
					<div style="width: 35%;text-align: left;margin-top: -20px;">
						<mat-slide-toggle [(ngModel)]="required.nft">Posséder un NFT</mat-slide-toggle><br><br>
						<mat-slide-toggle [(ngModel)]="required.payment">Paiement</mat-slide-toggle>
					</div>

					<app-input label="Blockchain / Réseau" value_type="list"
					           [value]="network" (valueChange)="network=$event"
					           [style.opacity]="required.nft || required.payment ? 1 : 0.2"
					           width="160px"
					           [options]="networks" style="display: inline-block;"
					           help="saisissez votre url de rediretion"></app-input>

				</div>

				<div style="display: inline-block;" *ngIf="required.payment || required.nft">
					<button mat-raised-button (click)="show_login=true"
					        title="Se connecter à son wallet"
					        *ngIf="!show_login && !user.isConnected()">
						Connexion
					</button>

					<button mat-raised-button (click)="user.logout();show_login=false;"
					        title="Se déconnecter"
					        *ngIf="user.isConnected()">
						Déconnexion
					</button>
				</div>

				<br>
				<mat-tab-group animationDuration="1000ms" style="margin-left: -10px;">
					<mat-tab label="NFT" *ngIf="required.nft" style="margin-left: -10px;">
					<div style="margin-top: 10px;">
						<div class="expansion-content" style="justify-content: flex-start;"  *ngIf="network">

							<app-input label="Nom d'une collection / Wallet" [value]="query_collection"
							           width="90%"
							           (valueChange)="query_collection=$event"
							           label_button="Chercher"
							           (validate)="run_query($event)"
							           help="saisissez votre url de rediretion"></app-input>

							<!--					<button mat-icon-button *ngIf="user.addr!=''" (click)="show_my_collection()">-->
							<!--						<mat-icon>person</mat-icon>-->
							<!--					</button>-->

<!--							<button mat-raised-button [disabled]="query_collection==''" (click)="open_gallery()"-->
<!--							        style="margin-top: -20px;margin-left: 10px;">-->
<!--								Explorer-->
<!--							</button>-->

						</div>

						<br>

						<div style="display:inline-block;width: 100%;display:flex;justify-content: stretch;" *ngIf="collections && collections.length>0">
							<app-input [label]="'Sélectionner une collection' | translate" [options]="collections"
							           style="width:70%;color:white;" value_type="list"
							           [value]="collection" (valueChange)="collection=$event;get_first_nft();local_save();"></app-input>

							<app-input value_type="number" [value]="min_required" (valueChange)="min_required=$event"
							           width="120px"
							           label="Quantité requise"></app-input>

						</div>


						<div *ngIf="nft && nft.visual && collections.length>0 && collection">
							<br>
							{{'Le premier NFT de cette collection' | translate}}<br>
							<img class="mat-elevation-z6" [src]="nft.visual" style="width:150px;margin:20px;">
							<br><br>
						</div>

						<div style="width: 100%;display:flex;justify-content: stretch;" *ngIf="collections.length>0">
							<app-input [label]="'Lien pour aquérir un NFT' | translate"
							           style="width: 65%;"
							           [value]="store" (valueChange)="store=$event"
							           help="URL de la boutique"></app-input>

							<app-input [label]="'Marketplace' | translate"
							           style="width: 25%;" value_field="value"
							           [options]="marketplaces" (valueChange)="update_marketplace($event)"
							           help="URL de la boutique"></app-input>

							<button mat-icon-button style="margin:10px;margin-top: 20px;" (click)="open_store()">
								<mat-icon>visibility</mat-icon>
							</button>
						</div>
					</div>
					</mat-tab>
					<mat-tab label="Paiement" *ngIf="required.payment" >
						<div  class="expansion-content" style="margin-top: 10px;margin-left: -15px;width:100%;">
							<div *ngIf="show_scanner">
								<app-scanner (flash)="scan_wallet($event)"
								             (cancel)="show_scanner=false"
								             size="200px"
								></app-scanner>

							</div>

							<div class="expansion-content-left" style="width: 110%;">
								<app-input label="Adresse des paiements" style="width: 66%"
								           [value]="address" (valueChange)="address=$event;local_save();"
								           help="Adresse du wallet récupérant le paiement"></app-input>

								<button mat-icon-button style="margin-top: -10px"
								        title="Scanner un wallet"
								        (click)="show_scanner=!show_scanner">
									<mat-icon>qr_code_scanner</mat-icon></button>

								<button mat-icon-button
								        *ngIf="address==''"
								        style="margin-top: -10px;"
								        title="Créer un wallet"
								        (click)="create_account()">
									<mat-icon>add_circle</mat-icon>
								</button>

								<button mat-icon-button
								        *ngIf="address!=''"
								        style="margin-top: -10px;"
								        title="Voir le wallet"
								        (click)="open_wallet()">
									<mat-icon>visibility</mat-icon>
								</button>

							</div>

							<div class="expansion-content-left" style="align-items: flex-start;">
								<app-token-selector label="Monnaie utilisée" style="width: 75%;margin: 5px;"
								                    [value]="token" [network]="network.value" size="30px"
								                    (valueChange)="update_token($event)"></app-token-selector>

								<button mat-icon-button
								        title="Créer une monnaie"
								        (click)="open_create_esdt()"><mat-icon>build</mat-icon></button>

<!--								<button mat-icon-button-->
<!--								        title="Chercher une monnaie"-->
<!--								        (click)="open_search_esdt()"><mat-icon>explorer</mat-icon></button>-->
							</div>

							<div class="expansion-content-left" *ngIf="token">
								<app-input label="Montant demandé" value_type="number" style="width: 65%;"
								           [value]="price" (valueChange)="price=$event"
								           help="Prix demandé"></app-input>

								<div style="width: 25%;text-align:center;margin-top:-15px;display: inline-block" *ngIf="token">Monnaie:
									<div class="color-primary mat-subheading-1">{{token.name}}</div>
								</div>
								<div style="width: 70px;margin-top:-10px;display: inline-block" *ngIf="!token" class="color-primary">Token non valide</div>
							</div>


							<div class="expansion-content-left" *ngIf="token">
								<app-input [label]="'Adresse pour acheter du '+token.name"
								           style="width: 95%;"
								           *ngIf="user.advance_mode || bank!.length>0"
								           [value]="bank" (valueChange)="bank=$event"
								           help="Adresse web de la banque"></app-input>

							</div>

						</div>

					</mat-tab>
				</mat-tab-group>


			</mat-expansion-panel>


			<mat-expansion-panel *ngIf="user.advance_mode">
				<mat-expansion-panel-header>Méthode d'authentification</mat-expansion-panel-header>
				Authentification possible via:<br><br>
				<div *ngIf="network.indexOf('elrond')>-1" style="width: 100%;text-align: left;">
					<mat-slide-toggle [(ngModel)]="connexion.wallet_connect">Wallet Connect</mat-slide-toggle><br><br>
					<mat-slide-toggle [(ngModel)]="connexion.extension_wallet">Defi Wallet Extension</mat-slide-toggle><br><br>
					<mat-slide-toggle [(ngModel)]="connexion.nfluent_wallet_connect" title="Wallet dédié NFluent">Nfluent Wallet</mat-slide-toggle><br><br>
					<mat-slide-toggle [(ngModel)]="connexion.email" title="Email">Email</mat-slide-toggle><br>
				</div>

			</mat-expansion-panel>

			<mat-expansion-panel *ngIf="(required.payment || required.nft) && redirect && redirect.length>3 && redirect.indexOf('.')>0">
				<mat-expansion-panel-header>Présentation</mat-expansion-panel-header>
				<p style="width:80%">L'usage des termes __collection__ ou __coin__  permet d'intégrer le nom des collection et monnaie dans les messages</p>
				<br>
				<app-input label="Message d'accueil" style="margin-top: 15px;"
				           [help]="'Message affiché à l\'ouverture du lien court créé par '+this.appname"
				           [value]="messages.intro" (valueChange)="messages.intro=$event"
				           ></app-input>
				<br>

				<app-input label="Message en cas d'échec" style="margin-top: 30px;"
				           [value]="messages.fail" (valueChange)="messages.fail=$event"
				           help="Message affiché lorsque le visiteur n'a pas le NFT requis"></app-input>
				<br>

				<app-input label="Message en cas de succes" style="margin-top: 30px;"
				           [value]="messages.success" (valueChange)="messages.success=$event"
				           help=""></app-input><br>

				<app-input label="Style de la fenêtre" *ngIf="user.advance_mode" style="margin-top: 30px;"
				           [value]="dialog_style" (valueChange)="dialog_style=$event"
				           help=""></app-input>

			</mat-expansion-panel>

			<button mat-raised-button color="primary" class="mat-headline-6"
			        style="width: 150px"
			        [disabled]="!redirect || redirect.length<3"
			        (click)="create_link()">Créer le lien</button>
			<br>

		</div>

		<div *ngIf="url!=''">
			<br>
			{{desc}} en utilisant le lien :
			<br><br>
			<div class="color-primary mat-subheading-1">{{url}}</div>
			<br>

			<img [src]="url_qrcode" style="width: 80%;max-width: 250px">
			<br><br><br>

			<button mat-raised-button color="primary" (click)="share_link()">Partager</button>
			<button mat-raised-button (click)="reset()">Nouveau</button>
			<button mat-raised-button (click)="open_link()">Tester</button>

		</div>


	</div>


</div>
